{% extends "database_base.html" %}
{% import "form_macro.html" as forms %}

{% block db_content %}

<link rel="stylesheet" href={{url_for('static',filename='css/jobs_status.css')}}>
<script src="static/js/tables_utils.js"></script>
<script>

var data ={{data|safe}};

var columns ={{columns|safe}};





</script>
<h4>Jobs status</h4>
<div>
     <p>
        <button id="external-gridmenu" onclick="toggleGridMenu(event)"><img src="static/js/SlickGrid-2.4.15/images/drag-handle.png"/>Custome View</button>
      </p>
</div>
<div id="main" >

<div>
    <div id="slickgrid" style="width:80%;height:500px;"></div>
    <div id="pager" style="width:80%;height:20px;"></div>
</div>

</div>


<script>
    document.addEventListener('DOMContentLoaded', set_table('slickgrid') , false);
</script>
{% endblock %}