{% extends "database_base.html" %}
{% import "form_macro.html" as forms %}
{% block db_content %}
  <link rel="stylesheet" href="static/js/SlickGrid-2.4.15/css/select2.css" type="text/css"/>


<link rel="stylesheet" href={{url_for('static',filename='css/submit_reads.css')}}>
<script src="static/js/SlickGrid-2.4.15/lib/select2.js"></script>

<script src="static/js/upload_strains_metedata.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/fileinput.min.js"></script>


<script>
var data ={{data|safe}};
var required_fields={{req_fields|safe}};
var columns ={{columns|safe}};
var user_files_list={{user_files_list|safe}};
console.log(data);
console.log(columns);

</script>
<h4>Add Strain/s Metadata</h4>
<div>
    <tr>
        <th><button id="add_read_files"  class="btn btn-primary" data-toggle="modal" data-target="#add_file_dialoug">Add read files</button></th>
        <th><button id="export"  class="btn btn-primary"  onclick="config_open_export_file_dialoug()">Export to text file</button></th>
        <th><button id="load_from_file" onclick="config_open_import_file_dialoug()"  class="btn btn-primary">Import from text file</button></th>
        <th><button id="submit_metadata" onclick="submit_metadata()"  class="btn btn-primary">Submit</button>  </th>
    </tr>
    </div>
<br>
<div id="main" >
    <div id="add_file_dialoug" class="modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add read files</h5>
        <button type="button" class="Cancel" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <INPUT accept=".gz" id="readfiles" name="readfiles[]" placeholder="Drag and drop gz file" onchange="check_selected_read_files()" type="file" multiple class='editor-text' />
           <!--INPUT accept=".gz" id="readfiles_folder" name="readfiles[]" placeholder="Drag and drop gz file" onchange="check_selected_read_files()" type="file" webkitdirectory directory multiple class='editor-text' /-->
           <div id="read_files_table">
               <br>

           </div>
          <br>
           <div><h6>Selected reads files are paired automatically according to Illumina Naming Convention</h6>
           </div>
          <div id="elErrorContainer"></div>
          <div id="sucErrorContainer"></div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="add_files()">Add files</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

 <div id="export_import_dialoug" class="modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id ="ex_im_title" class="modal-title">Add read files</h5>
        <button type="button" class="Cancel" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label id="efname_lab">File name:</label> <input id="efname" type="text" name="efname">

              <input type="file" id="fileimporter" />


           <div id="export_table">
               <br>

           </div>
          <br>
           <div><h6 id="dialoug_explain"></h6>
           </div>

      </div>
      <div class="modal-footer">
        <button id="save_btn" type="button" class="btn btn-primary" onclick="export_to_text_file()">Save</button>
        <button id ="import_btn" type="button" class="btn btn-primary" onclick="load_from_file()">Import</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>




<div>
    <div id="slickgrid" style="width:107%; height:440px; "></div>
    <div id="pager" style="width:107%;height:20px;"></div>
</div>
    <br>
    <div>
<button onclick="add_new_row()" class="btn btn-warning">ADD</button>
<button onclick="delete_row()" class="btn btn-warning">DELETE</button>
        </div>

</div>


<script>
//$("#readfiles").fileinput();
//$("#readfiles").fileinput({'showUpload':true, showRemove:false, 'previewFileType':'none', showPreview: false, 'uploadAsync': true,'elErrorContainer': '#errorBlock', allowedFileExtensions: ["gz"], uploadUrl: '/upload_files_2',
//});

$(document).ready(read_files_uploader());


    document.addEventListener('DOMContentLoaded', set_table('slickgrid') , false);
</script>
{% endblock %}

