{% extends "base.html" %}

{% block app_content %}

  <div class="col-sm-12 col-md-3">

        <!--"btn btn-primary"-->

<h2>System Configuration</h2>
    <br>

<form action="{{ url_for('routes.check_app_log') }}" method="post">
    <d1>
        {{logForm.csrf_token}}

    {{ wtf.quick_form(logForm) }}
    {{wtf.form_errors(logForm, hiddens=True)}}
        <input class="btn btn-primary" type="submit" value="Submit">
        <a href="{{ url_for('routes.index') }}" > <input type="button" name="cancel" class="btn btn-primary"  value="Cancel" /></a>

    </d1>

</form>
</div>
{% endblock %}