{% extends "base.html" %}

{% block app_content %}


<div class="col-lg-4" align="left">
     <h2>Local EnteroBase Registration </h2>
    <br>
<form action="{{ url_for('routes.register_client') }}" method="post" novalidate>
      <d1>
        {{client_reg_form.csrf_token}}

     {{wtf.form_field(client_reg_form.Local_Name)}}
    {{wtf.form_field(client_reg_form.Local_URL)}}
    {{wtf.form_field(client_reg_form.Local_Description)}}
    <input class="btn btn-primary" type="submit" value="Register">
        </d1>
</form>
</div>

   <br>
   <span style="color: blue;">* This configuration will be used to register your local EnteroBase with Warwick EnteroBase</span>

{% endblock %}