{% extends "base.html" %}

{% block app_content %}

 <div class="col-sm-12 col-md-5" id="sysmtem_configuration">

        <!--"btn btn-primary"-->
     {% if config_type == 'Customization' %}
<h2>{{ config_type }} </h2>
     {% else %}
     <h2>{{ config_type }} Configuration</h2>
             {% endif %}


    <br>

<form action="{{ url_for('routes.update_system_configuration',config_type=config_type) }}" method="post">
    <d1>
        {{sys_config_form.csrf_token}}

    {{ wtf.quick_form(sys_config_form) }}
    {{wtf.form_errors(sys_config_form, hiddens=False)}}

        <input class="btn btn-primary" type="submit" value="Submit">
        <a href="{{ url_for('routes.main') }}" > <input type="button" name="cancel" class="btn btn-primary"  value="Cancel" /></a>

    </d1>

</form>
</div>



{% endblock %}