{% extends "base.html" %}

{% block app_content %}

 <h1>Web page does not exist</h1>
<br>
The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.
<br>
<br>
    <p><a href="{{ url_for('routes.main')}}">Back to the main page</a></p>
{% endblock %}