{% extends "base.html" %}


{% block app_content %}
{% if it_is_not_registered is sameas True and is_register_request_submitted is sameas False %}
<div  id="not_register">
<h5>Your local EnteroBase website is not registered, administrator needs to register it with Warwick EnteroBase</h5>
<div class="col-lg-2">
<br>
 <a class="list-group-item list-group-item-action active" href="{{ url_for('routes.register_client') }}">Register your Local EnteroBase Website</a>
    </div>
     </div>
<br>
<br>
z

{% elif is_register_request_submitted is sameas True and has_Been_test=='No'and  it_is_not_registered  is sameas True %}
<div class="col-lg-4">
    <h3>Client is not activated yet</h3>
    <a class="list-group-item list-group-item-action active" href="{{ url_for('routes.test_upload_files') }}"> <h5>Administrator neeeds to test uploading files to Warwick EnteroBase</h5></a>
</div>
{% elif is_register_request_submitted is sameas True and has_Been_test=='Yes' and  it_is_not_registered  is sameas True%}

<div>

    <h3>Client is not activated yet</h3> <br>
    Wating Warwick EnteroBase to approve the client registration request
</div>

    {% else %}
<div class="col-lg-3">

<a class="list-group-item list-group-item-action active" href="{{ url_for('routes.login') }}"> <h5>Please sign in with Warwick EnteroBase</h5></a>

<br>
 </div>

{% endif %}
{% endblock %}