{% extends "base.html" %}

{% block app_content %}
<script>
var test_upload_file_url = "{{ url_for('routes.test_upload_file') }}";
 </script>

<script src="static/js/test_upload.js"></script>
 <link rel="stylesheet" href={{url_for('static',filename='css/test_upload.css')}}>

 <h3>Upload Files Test</h3>

{%  if is_register_request_submitted %}
<br>

<div id="uoload_file_progress">
  <div id="test_upload_files"></div>
</div>

<div id="button_div_main">
<br>
    <button id="cancel_btn" onclick="cancel_upload_files()"  style="display: none;">Cancel</button>
    <div id="button_div">
    <button id="upload_btn" onclick="upload_files()">Start</button>

<br>
    <br>
        <p id="cancel_pargraph" style="display: none;">Test has been canced</p>
Press "Start" button to start the test.
<br>
It will test uploading 100 files to Warwick EnteroBase and calculate the elapsed time, the test results will be submitted to Warwick EnteroBase.
<br>
<br>
</div>
</div>
<div id="upload_progress_div" style="display: none;">
<div id="results_div" style="display: none;">
    <h5><b>Summary of the test results</b></h5>
    <br>
     <label id="no_fai">No of failed uploaded files: </label>
    <br>
   <label id="no_suc">No of successful uploaded files: </label>
    <br>
    <label id="ave_time">Uploading time: </label>
    <br>
    <br>
    <a href="{{ url_for('routes.main') }}" > <input type="button" name="cancel" class="btn btn-primary"  value="Back to main page" /></a>

<br>
</div>
<div id="uploaded_files_content">
    <br>
<br>
<h4>Starting the test, please wait. </h4>
    <br>
    <br>

<ul id="uploading_files_list" class="menu_items">

</ul>
</div>
</div>
{% else %}
Local administrator needs to submit <a href="{{ url_for('routes.register_client') }}"> a client registration request </a>before using this test
{% endif %}

{% endblock %}