
<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block doc %}
<html {% block html_attribs %}{% endblock html_attribs %}>


{% block html %}
<head>
{% block head %}
    <title>{% block title %}
         {% if title %}
        {{ title }} - Local EnteroBase
        {% else %}
        Local EnteroBase
        {% endif %}
        {% endblock %}</title>

    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href={{url_for('static',filename='js/jquery-ui-1.11.4/jquery-ui.min.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/main/main.css')}}>
    {% endblock %}
</head>
{% endblock %}


<body>
{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('routes.index') }}">Local EnteroBase</a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="{{ url_for('routes.index') }}">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('routes.config_page') }}">Configuration</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li class="nav-item"><a href="{{ url_for('routes.login') }}">Login</a></li>
                    {% else %}
                    <li class="nav-item"><a href="#">{{ current_user.username }}</a></li>
                    <li class="nav-item"><a href="{{ url_for('routes.logout') }}">Logout</a></li>
                    {% endif %}


                </ul>

            </div>
        </div>


    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}

        {% endblock %}
    </div>
{% endblock %}
    {% endblock %}
    {% endblock %}
</body>
</html>