{% extends "database_base.html" %}
{% import "form_macro.html" as forms %}

{% block db_content %}
<script>
    var user_files_list = '{{ user_files_list }}';
    var st_id='{{st_id}}';

function validateMetaForm()
  {
     $('#reads_form').append('<input type="hidden" name="st_id" value={{st_id}}>');
     return true;
  }


</script>
<div class="col-lg-4" align="left">
    <h4>Update read files for {{strain_name}}</h4>
    <br>


<form id= "reads_form" action="{{ url_for('routes.update_read_files') }}" method="post" enctype="multipart/form-data" onsubmit="return validateMetaForm()">
        {{ reads_form.hidden_tag() }}

                {{ reads_form.csrf_token ()}}


    <table class="table table-bordered table-darktable table-striped">


       <tbody>
      <d1>

          {% for field in reads_form %}
                     {% if  field.type !="CSRFTokenField"  %}

                  <tr>

          <td colspan="2">{{field.label}}</td> <td > {{field}}</td>
                  </tr>
          {% endif %}
          {% endfor %}
        </d1>
        </tbody>
         </table>

       <input class="btn btn-primary" type="submit" value="Submit">


</form>

    <script>
document.getElementById("Readfile2").onchange = function() {fileValideForm()};
document.getElementById("Readfile1").onchange = function() {fileValideForm()};
</script>

</div>
{% endblock %}
